- @r.each do |r|
  - volumeInfo = r['volumeInfo']
  - @book_title = volumeInfo['title']
  = @book_title

  - @authors = volumeInfo['authors']
  - @authors.each do |author|
    = author

  - links = volumeInfo['imageLinks']
  - @image_url = links['thumbnail']
  = image_tag @image_url
  
  = link_to '記事を書く', new_article_path(:book_title => @book_title, :authors => @authors, :image_url => @image_url)