@import 'header';
@import 'cards';
@import 'common';
@import 'profile';
@import 'article';


$breakpoints: (
  'sm': 'screen and (min-width: 350px)',
  'md': 'screen and (min-width: 767px)',
  'lg': 'screen and (min-width: 1024px)',
  'xl': 'screen and (min-width: 1200px)'
) !default;

.text-decoration {
	text-decoration: none;
	color: black;
	
}

.hidden {
  display: none;
}

.all_wrapper {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 50px;
}

.articlesearch {
	float: right;
}

body {
	background-color: #f5f5f5;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}