.icon_mini {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.book_image {
  margin-right: 30px;
}

.book_title {
  font-size: 10px;
}


.article_title {
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
  font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka",Verdana,Arial, Helvetica, sans-serif;
}

.article_toppage {
  display: flex;
}

.article_details {
  flex-direction: column;
  font-size: 13px;
  
}

.article_toppage_heart {
  float: right;
  
}

.iine-image {
  height: 18px;
}

.author_name {
  margin-bottom: 20px;
  font-size: 10px;
}

.author_icon {
  float: right;
}

.article_toppage_content {
  text-overflow: ellipsis;
}
