@import 'variables';

.icon_mini {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    @include sp {
      margin-top: 10px;
      width: 40px;
      height: 40px;
      
    }
}

.book_image {
  margin-right: 30px;
  
}

.book_title {
  font-size: 10px;
  @include sp {
    font-size: 7px;
  }
}


.article_title {
  font-size: 20px;
  padding-top: 20px;
  margin-bottom: 10px;
  font-family: "メイリオ","Meiryo","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック", "MS P Gothic","Osaka",Verdana,Arial, Helvetica, sans-serif;
  @include sp {
    font-size: 17px;
  }
}

.article_toppage {
  display: flex;
}

.article_details {
  flex-direction: column;
  font-size: 13px;
  
}

.article_toppage_heart {
  float: right;
  
}

.iine-image {
  height: 18px;
}

.author_name {
  margin-bottom: 20px;
  font-size: 10px;
}

.author_icon {
  float: right;
  
}

.article_toppage_content {
  text-overflow: ellipsis;
}

.article_detail_title {
  font-size: 30px;
  @include sp {
    font-size: 20px;
  }
}

.article_content_wrapper {
  display: flex;
  flex-direction: row;
  
}

.detail_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid #dde5e8;
  margin-bottom: 20px;
  @include sp {
    display: block;
    
  }
}

.detail_bookinfo_flex {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 15px;
}

.detail_book_title {
  font-size: small;
}

.detail_book_author {
  font-size: small;
  margin-bottom: 5px;
}

.article_border {
  border-top: 2px solid #dde5e8;
  margin-top: 10px;
}

.detail_article_content {
  margin-top: 20px;
  margin-bottom: 100px;
}



.article_btn {
  margin-bottom: 50px;
}

.heart_btn {
  float: right;
  margin-bottom: 30px;
}

.new-article-link {
  font-weight: bold;
  
}

.pagination {
  display: flex;
  justify-content: space-between;
  list-style: none;
  
}

span {
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
  color: black;
  margin-left: 7px;
  text-decoration: underline;
}

