.cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    // padding-bottom: 15px;
    // border-bottom: 1px solid #dde5e8;
    
}

.card {
    color: black;
    text-decoration: none;
    width: 30%;
    vertical-align: top;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #dde5e8;
    border-bottom: 1px solid #dde5e8;
}