- if user_signed_in?
  検索
  = form_tag(books_path,:method => 'get') do
    = text_field_tag :search
    = submit_tag 'Search', :name => nil
- else
  = link_to 'ログインして記事を書く', new_user_session_path, class: 'text-decoration'
  